/*
* Noon Deliveries V1.0
* Copyright 2014, Noon Deliveries
* www.noondeliveries.com
* 13/03/2014
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Font-Face */

/* #Site Styles
================================================== */
h1, h2, h3, h4, h5, h6 {
		color: rgb(61,61,61);
		font-weight: normal; 
		font-family: "Sans Caption", Helvetica, Arial, sans-serif;}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-family: "brush script", "Times New Roman", serif;font-size: 46px; line-height: 50px; margin-bottom: 14px;color: rgb(206,56,42);}
	h2 { font-family: "Sans Caption", Helvetica, Arial, sans-serif;font-size: 40px; line-height: 40px; margin-bottom: 10px;color: rgb(50,116,244); }/* voor header/headlines */
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		font-family: "Sans Caption", Helvetica, Arial, sans-serif;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow:normal;
}


.title_blue h2{
	height: 120px;
	background:url('../images/layout-img/title-bg-bottom.png') no-repeat;
	background-position: bottom;
}
.button, button{}


body {
		background: #fff;
		font: 16px/23px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: rgb(61,61,61);
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }

a, a:visited { color: rgb(206,56,42); text-decoration: none; outline: 0; }
a{	}
a:hover, a:focus { color: rgb(61,61,61); }
*{ 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;    
	-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
input[type=text] { -webkit-user-select: text; }

.spc{
	padding-top:15px;
}

/* || Page button styles || */

.proceed.button{
	background: rgb(206,56,42);
	border-bottom: 4px solid;
	border-color: rgb(168,28,14);
	color: rgb(251,249,249);
	padding: 12px 25px 10px 25px;
	font-weight: bold;
}

.proceed.button:hover{
	background: rgb(185,44,31);
	color: rgb(149,24,12);
}

.sign.button{
	background:rgb(50,116,244);
	border:1px solid rgb(50,116,244) ;
    font-size:13px;
    text-decoration:none;
    color:#fff;
    position:relative;
    padding:10px 25px 5px 25px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #0e42a7;
    text-shadow: 1px 1px #000;
}

.sign.button a{
	color: #fff;
}

.sign.button:active{
	top:3px;
   
}

.sign.button:active::before {
    top:50%;
    margin-top:-12px;
    box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}

.green.button{
	background: rgb(68,156,34);
	border-bottom: 4px solid;
	border-color: rgb(38,107,12);
	color: #fff;
	padding: 12px 25px 10px 25px;
	font-weight: bold;
}

.green.button:hover{
	background: rgb(55,138,23);
	color: rgb(38,107,12);
}

.contact.button{
	background:rgb(223,223,223);
	border:1px solid #fff ;
    font-size:13px;
    text-decoration:none;
    color:rgb(206,56,42);
    position:relative;
    padding:10px 17px 5px 17px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #631a18;
   
}

.contact.button:active{
	top:3px;
   
}

.contact.button:active::before {
    top:50%;
    margin-top:-12px;
    box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}

.submit.button{
	background: rgb(240,240,240);
	border-bottom: 1px solid;
	border-color: #fff;
	color: rgb(206,56,42);
	padding: 12px 85px 10px 85px;
	font-weight: bolder;
	-moz-box-shadow: 0px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 3px rgba(0,0,0,0.3);
}

.submit.button:hover{
	background: #fff;
	color: rgb(61,61,61);
}

.waves{
	background:url('../images/layout-img/wave-red-small.png') repeat;
	height: 23px;
	width: 100%;
}

.wave-second{
	background:url('../images/layout-img/wave-gray.png') repeat;
	height: 20px;
	width: 100%;
}

.wave-second-a{
	background:url('../images/layout-img/wave-red-bottom.png') repeat;
	height: 20px;
	width: 100%;
}

.title_blue h2{
	height: 120px;
	background:url('../images/layout-img/title-bg-bottom.png') no-repeat;
	background-position: bottom;
	text-align: center;
	font-weight: bolder !important;
}

.top_space_padding{
	margin-top:40px;
}


/* #Page Styles
================================================== */

/* -- TOP NAVIGATION -- */

.top-nav{
	background: rgb(206,56,42);
	padding-top:10px;
}

.top-nav .logo{
	background:url('../images/layout-img/logo.png') no-repeat;
	padding: 0px 0 0px 87px;
}

.top-nav .logo p{
	margin-bottom: 0;
	color: rgb(98,25,24) !important;
	padding-left: 30px;
	color:#000;
	font-style:italic
}

.top-nav .logo strong{
	color: rgb(98,25,24);
}

.top-nav .logo h1{
	margin-bottom: 0;
	line-height: 10px;
	padding: 30px 0 10px 0;
}

.top-nav .logo h1 a{
	color: rgb(98,25,24);
}

.top-nav .logo h1 a:hover{
	opacity: 0.8;
}

.top-nav .account-options ul{
	float: right;
	margin:0;
	padding:0;
	padding-top: 10px;
}

.top-nav .account-options ul li{
	margin:0;
	padding:0;
}

.top-nav .account-options ul li{
	display: inline-block;
	margin-left: 20px;
}

.top-nav li.login-option a{
	background:url('../images/layout-img/user-icon.png') no-repeat;
	background-position: left;
	color:#fff;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

.top-nav li.login-option a:hover, .top-nav li.reorder-option a:hover{
	color: #3d3d3d;
}

.top-nav li.reorder-option a{
	background:url('../images/layout-img/icon_heart.png') no-repeat;
	background-position: left;
	color:#fff;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
}










/* -- CONTENT WRAPPER -- */

.center-content-wrapper{
	background: #fff;
}
.wave-second{
	background:url('../images/layout-img/wave-gray.png') repeat;
	height: 20px;
	width: 100%;
}

.scroll{
	padding-bottom: 0px;
	margin-bottom: 300px;
}

.wave-second-a{
	margin-top:50px;
}

.page-like-bottom{
	height: 600px;
}

.space{
	height: 200px;
}


/* ============Right sidebar items list============= */

.autofix_sb.fixed {
  position: fixed !important;
  left: auto;
  top: 300px;
  right: auto;
  bottom: 900px;
  height: 100%;
  overflow:hidden;
 margin-top:10px;
}

.autofix_sb.fixed.bottom {
  bottom: 0;
  position: absolute !important;


}

.order-list-sidebar{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding:20px 10px 0 10px;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 0px;
	

}


.order-list-sidebar h5{
	color: rgb(50,116,244);
	font-weight: bold;
	padding-bottom: 20px;
}

.order-list-sidebar p{
	margin:0;
	font-weight: bold;
	font-size: 14px;
}

.checkout-btn{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-align: center;
	overflow: hidden;
	padding-right: 10px;
	padding-left: 10px;
	background:url('../images/layout-img/sidebar.png') 50% 102% no-repeat;
}



ul.order-items{
	font-size: 12px;
}

ul.order-items li{
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding-bottom: 10px;
}

li>span{
	float: left;
}

ul.order-items li span.product-name{
	width: 100px;
	padding-left: 4px;
}

ul.order-items li a{
	width: 16px;
	height: 16px;
	display: block;
}

ul.order-items li a:hover{
	opacity: 0.8;
}

li span.min a{
	background: url('../images/layout-img/menu-icons/icon_minus.png');
}

li span.plus a{
	background: url('../images/layout-img/menu-icons/icon_plus.png');
	float: right;
}

li span.quantity{
	padding-left: 5px;
}

li span.price{
	width: 40px;
	text-align: center;
	padding-right: 3px;
}

li.actie-section span.min a, li.actie-section-second span.min a{
	background: none;
}

li.actie-section span.plus a, li.actie-section-second span.plus a{
	background: url('../images/layout-img/menu-icons/icon_error.png');
}

li.extra-fee span a, li.total span a{
	background: none;
}

li.total{
	font-weight: bold;
	font-size: 13px;
}

li.item>span.product-name{
	color:red;
}




/* ===================list menu style========================= */

.menu-wrapper{
	background:url('../images/brug-bg.png') #fff no-repeat;
	background-position: bottom;
	overflow: hidden;
}

.menu_content{
	overflow: hidden;
}


.menu-list-center{
	padding-bottom: 300px;
}

.menu-list-head{
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.list-sections h4{
	color: rgb(50,116,244);
	font-weight: bolder;
	float: left;
}

.list-sections li>title{
	font-size: 10px;
}


.list-sections{
	padding-bottom: 30px;
}

.list-sections ul{
	width: 100%;
}

.list-sections ul li{
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	overflow: hidden;
}

li.center_items_menu span.add_this_item, li.center_items_menu span.item_price{display: inline;}

li.center_items_menu span.add_this_item{
	width: 20px;
	height: 20px;
}

li.center_items_menu span.item_price{
	width: 80px;
	height: 20px;
	text-align: right;
}

li span.item_discription{
	font-weight: bold;
	width: 70%;
}

li span.item_discription ul li{
	border: none;
	margin:0;
	padding:0;
	font-size: 12px;
	float: left;
	margin-left: -30px;
	font-weight: normal !important;
}

.item-img{
	background:url('../images/layout-img/menu-icons/bottle.png') no-repeat;
	width: 11px;
	height: 40px;
	display: block;
	margin-right: 15px;
}

li span.add_this_item a{
	background:url('../images/layout-img/menu-icons/add.png') no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	margin-left: 8px;
}

li span.add_this_item a:hover{
	opacity: 0.8;
}

li.center_items_menu.normal>span.item-img{
	display: none;
}

li.center_items_menu.normal>span.item_discription{
	width: 76%;
}

.topscroll a{
	background:url('../images/layout-img/arrow_up.png') no-repeat;
	margin-top:5px;
	width: 18px;
	height: 18px;
	display: block;
	float: right;
}




/* ===============left side bar================== */


.search-side-menu h5{
	color: rgb(50,116,244);
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

ul.list-side-links-left li{
	border-bottom: 1px solid #ddd;
	padding:5px 0;
	margin:0;
	font-size: 13px;
}

.search-menu{
	background: #f0f0f0;
	padding: 12px 5px;
	border-radius: 3px;
	border: 1px solid #e4e3e3;
	overflow: hidden;
	height: 60px;
}

input[type="text"] 
{
                 float: left;
                 width: 130px;
                 padding: 8px 5px 7px 5px;

                 border: 1px solid #999999;
                 font-weight: normal;
                 -moz-border-radius: 5px;
                 -webkit-border-radius: 5px;
                 border-radius: 5px;
                 -webkit-user-select: text;
                     }

                     input[type="submit"].solid {
                 float: right;
                 cursor: pointer;
                 padding: 6px 6px 5px 6px;
                 background: rgb(206,56,42);
                 color: #fff;
                 text-transform: uppercase;
                 border: 1px solid rgb(168,28,14);
                 -moz-border-radius: 5px;
                 -webkit-border-radius: 5px;
                 border-radius: 5px;

                 box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #631a18;
}






/* ===========location info========== */

.restaurant-info{
	background: #f0f0f0;
	padding-top: 20px;
	padding-bottom: 5px;
	border-left:1px solid #dcdbd9;
	border
}

.restaurant-info-no-bg{

	padding-top: 20px;
	padding-bottom: 5px;
	border-left:1px solid #dcdbd9;
	border
}

.loc-info{
	overflow: hidden;
	margin-bottom: 20px;
	margin-bottom: 40px;
	margin-top: 5px;
	padding:0;
	padding-bottom: 7px;
	border-top:1px solid #dcdbd9;

	
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	background:url('../images/layout-img/full-border.png') #faf9f7 no-repeat bottom;
}
                   
.loc-info .thumb-rest{
	width: 100px;
	height: 100px;
	float: left;
	background: #000;
	margin-left: 10px;
	display: block;
	-webkit-border-radius: 5px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 5px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 5px; 
}

.data-rest{
	margin-left: 10px;
	display: block;
	float: left;	
}

.data-rest h2{
	font-size: 18px;
	color: #000;
	font-weight: bold;
	margin:0;
	padding:0;

}

.data-rest p{
	font-size: 14px;
	font-weight: bold;
}

.type-rest span{
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 5px;
}

p.type-rest {
	font-weight: normal;
}

.loc-info .fav{
	width: 100%;
	float: left;
	margin-left: 10px;
	color: red;
	
	font-size: 11px;
	padding-left: 18px;
	background: url('../images/layout-img/menu-icons/icon_star.png') no-repeat;
	background-position: 0% 30%;
}

.menu-page-facebook-box{
	width: 150px;
}

.rest-reviews span{
	font-weight: bold;
}

.rest-reviews{
	text-align: center;
	font-size: 14px;
	padding-top: 20px;

}

.rest-reviews .rating{
	padding-bottom: 32px;
}

.rest-reviews-active{
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	background: #f0f0f0;
	overflow: hidden;
	height: 175px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.rest-reviews-active span{
	font-weight: bold;
}

.rest-reviews-active .rating{
	padding-bottom: 30px;
}


.time-data{
	padding-top:20px;
	border-right:1px solid #dcdbd9;
	padding-right: 5px;
}

 .time-data-active{
 	background: #f0f0f0;
 	overflow: hidden;
 	padding-right: 5px;
 	border-right:1px solid #dcdbd9;
 	padding-top:20px;
 	padding-left: 10px;
 }

.hours-rest{
	float: left;
}

.hours-rest p.head{
	font-weight: bold;
	font-size: 16px;
}

p.time-first span{
	padding-right: 35px;
}

p.time-second span{
	padding-right: 10px;
}

.hours-rest p{
	font-size: 14px;
	line-height: 20px;
	margin:0;
	padding:0;
}

.open-sign {
	float: right;
	background: url('../images/layout-img/opensign.png') no-repeat;
	width: 66px;
	height: 66px;
	display: block;
	margin-left: 0px;
	padding-top:20px;
}

.extra-open-info{
	padding-top: 17px;
	padding-right: 10px;
	font-size: 14px;
}

.extra-open-info p{
	margin-top:16px;
	margin-bottom: 10px;	
}

.extra-open-info p a{
	color:#3274f4;
	text-decoration: underline;
}

.payment-info-sidebar{
	border: 1px solid #ddd;
	margin-top: 20px;
	overflow: hidden;
	background: #fff;
}

.payment-info-sidebar p{
	font-size: 13px;
	font-weight: bold;
	padding:10px 10px 0 10px;
	margin:0;
}

ul.extra-payment-info{
	border-top: 1px solid #ddd;
	padding-top:10px;
}

ul.extra-payment-info li{
	font-size: 13px;
	padding: 0 10px 0 10px;
	margin:0;
}

ul.extra-payment-info li span{
	float: right;
}

p.cash-icon{
	background: url('../images/layout-img/menu-icons/cash-icon.png') 10% 50% no-repeat;
	padding-left: 40px;
	font-weight: normal;
	padding-bottom: 10px;
}

code{ padding:10px 8px; margin:3px 0; display:block; background-color:#333; color:#eee; }		
			
.order-list{ position:absolute; background: url('../images/layout-img/menu-icons/rings.png') 50% 2% repeat-x;padding-top: 30px;}
.order-list  .easing{ overflow:hidden; margin:0; height: auto; }

				
.order_sidebar_wrap{ position:absolute; top:0px; right:0; bottom:30px; background: #fff;  }
.menu2{ top:120px; right:0px; left:auto; }
.transition200 .duration,
.transition200 .delay{ visibility:hidden; }
.transition200{ transition:200ms; -webkit-transition:200ms; -o-transition:200ms; }

.bottom-social-box{
	padding: 100px 0 100px 0;
	text-align: center;
}
.bottom-social-box.fb-like-box{}

.bottom-social-box h3{
	float: left;
	padding-top:50px;
	color:#3f508b;
	font-weight: bold;
	text-align: left;
	padding-right: 100px;
	background: url('../images/layout-img/fb-like-big.png') right no-repeat;
	
}

.bottom-social-box h3{

	line-height: 50p
}


.breadcrumb ul li{
 display: inline;
 font-size: 14px;
 height: 16px;
 width: 100px;
 padding-left: 15px;
 padding-right: 5px;
}

.breadcrumb ul li a{
	color: #444;
}

.breadcrumb ul li.back-home{
	background: url('../images/layout-img/menu-icons/icon_house.png') no-repeat left;
	padding-left: 20px;
}

.breadcrumb ul li.onpage{
	background: url('../images/layout-img/menu-icons/arrow_right.png') no-repeat left;

}

.breadcrumb ul li.donepage{
	text-decoration: underline;
}




/* Home bottom contact */



.home-contact-section{
	background:rgb(206,56,42);
	padding-top:20px;
}

.home-contact-section span{
	color: #fff;
	font-size: 20px;
	padding-right: 25px;
}

/* --================== FOOTER ================ -- */

.footer-wrapper{
	background:rgb(237,237,237) ;
}

.footer-navigation-section{
	padding-top: 20px;
}

ul.footer-top-nav li{
	display: inline-block;
	margin:0 10px;
	border-right: 1px dashed #cdcbcb;
	padding-right: 25px;
}

ul.footer-top-nav li.none-brd{
	border-right: none;
	padding-right: 0px;
}

ul.footer-top-nav li a{
	font-size: 13px;
}

ul.footer-top-nav {
	text-align: center;
}

.footer-social-links ul{
	text-align: center;
	padding-top:15px;
}

.footer-social-links ul li{
	display: inline-block;
	padding: 0 5px;
}

.footer-social-links ul li a:hover{
	opacity: 0.8;
}

.bottom-browse-nav ul{
	display: inline-block;
	margin:0;
	width: 100%;
}

.bottom-browse-nav ul li{
	border-bottom: 1px solid #c1c1c1;
	margin:0;
	padding:5px 0 5px 0;
}

.bottom-browse-nav ul li a{
	margin:0;
	padding:0;
	color: #3d3d3d;
}

.bottom-browse-nav ul li a:hover{
	color:rgb(206,56,42);
}

.bottom-browse-nav tr{
	border-bottom: 1px solid #c1c1c1;
	padding:10px 0;
}

.bottom-browse-nav td a{
	margin:0;
	padding:0;
	color: #3d3d3d;
}

.bottom-browse-nav td a:hover{
	color:rgb(206,56,42);
}

table { 
  width: 100%; 
}

.bottom-browse-nav h4{
	border-bottom: 1px solid #c1c1c1;
	width: 100%;
}

.footer-newsletter-section{
	background: #e3e3e3;
	margin:20px 0;
	padding-top: 25px;
}

.footer-newsletter-section .form-wrapper {
    overflow: hidden;
    padding-top:35px;
}

.footer-newsletter-section .form-wrapper #search {
    width: 320px;
    height: 40px;
    padding: 10px 5px;
    float: left;    
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    border-radius: 3px; 
    background: #fff;      
}

.footer-newsletter-section .form-wrapper #search:focus {
    outline: 0; 
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset; 
    
}

.footer-newsletter-section .form-wrapper #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;

}

.footer-newsletter-section .form-wrapper #search:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

.footer-newsletter-section .form-wrapper #search:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
} 

.footer-newsletter-section .form-wrapper #submit {
    float: right;    
    border: 1px solid #00748f;
    height: 42px;
    width: 100px;
    padding: 0;
    cursor: pointer;
    font: 15px Arial, Helvetica;
    color: #fafafa;
    text-transform: uppercase;    
    background: rgb(206,56,42);
    border-color: rgb(168,28,14);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #8c190e;     
}

.footer-newsletter-section .form-wrapper #submit:hover,
.footer-newsletter-section .form-wrapper #submit:focus {       
    background: rgb(185,44,31);
	
}   
  
.footer-newsletter-section .form-wrapper #submit:active {
    outline: 0;    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}


  
.footer-newsletter-section .form-wrapper #submit::-moz-focus-inner {
    border: 0;
}

.copyrights{
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid #ddd;
}


.banner-section img{
	padding-bottom: 25px;
}

.promo-banner{
	width: 729px;
	margin: 0 auto;
	padding-bottom: 20px;
}

/*========================================================


veneu list

========================================================== */

ul.venue-sections-list li{
	margin: 0;
	margin-bottom: 5px;
}


ul.venue-sections-list li.selected a{
	background: url('../images/layout-img/menu-icons/icon_check.png') #cccccc no-repeat 95% 50%;
	display: block;
	padding: 5px 10px;
	color: #535353;
	font-weight: bold;
}

ul.venue-sections-list li.selected a:hover{
	color: #777777;
}

ul.venue-sections-list li.selected a span{
	font-size: 12px;
	font-weight: normal;
}

ul.venue-sections-list li a{
	background: #f0f0f0;
	display: block;
	padding: 5px 10px;
	font-weight: bold;
	color: #535353;
}

ul.venue-sections-list li a:hover{
	color: #777777;
}

ul.venue-sections-list li a span{
	font-size: 12px;
	font-weight: normal;
	padding-left: 5px;
}

.location-head{
	border-bottom: 1px solid #ddd;
}

.location-head h4{
	color: rgb(50,116,244);
	font-weight: bolder;
}

.location-head h4 span{
	font-weight: normal;
}

.location-sub-info{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}

.location-sub-info a{
	color: #158920;
	text-decoration: underline;
	font-size: 12px;
}

.location-sub-info span{
	font-weight: bold;
}

.v-data{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
	padding: 15px 0 10px 0;
}
.v-data:hover{
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

/* Review Page */

.rev{
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 20px;
	background: #fff;
}

.rev p{
	margin:0;
	padding:0;
	font-size: 14px;
}

.rev .rating-bar p{
	display: inline-block;
	margin-right: 15px;
}

.back-to-rest{
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}
.back-to-rest a h4{
	color: rgb(68, 156, 34);
	background: url('../images/layout-img/menu-icons/arrow_carrot-2left.png')  no-repeat left;
	padding-left: 35px;
	height: 26px;
	vertical-align: middle;
}
.back-to-rest a h4:hover{
	opacity: 0.8;
}


/* Befor order Login page */


.account_tips_top{
	font-size: 12px;
	padding: 15px 30px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.account_tips_top p{
	margin:0;
	padding:0;
}

.account_tips_top h3{
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 24px;
}

.account_tips_top ul{
	margin-top: 20px;
}

.account_tips_top ul li{
	margin:0;
	padding:0;
	background: url('../images/layout-img/menu-icons/tips_check.png') no-repeat left;
	padding-left: 19px;
	margin-bottom: 5px;
}

.social-login-account{
	
	padding-bottom: 35px;
	float: left;
}

.social-login-account, .login_own_account{
	width: 290px;
}

a.login_social{
 display: block;
 margin-bottom: 20px;
 overflow: hidden;
}

a.login_social:hover{
	opacity: 0.9;
}

.login_own_account{
	border-left: 1px dashed #cdcbcb;
	float: right;
	
}

.login_own_account input{
	width: 100%;
	margin:0;
}

.login_own_account h4{
	padding-left: 25px;
}


.login_own_account input[type="text"] 
{
                 float: left;
              	background: #e6e5e5;
                 padding: 10px 5px 15px 15px;
                 margin-left: 25px;
width: 100%;
                 border: none;
                 font-weight: normal;
                 -moz-border-radius: 5px;
                 -webkit-border-radius: 5px;
                 border-radius: 5px;
                 -webkit-user-select: text;
              box-shadow: 0 1px 1px #bbb inset; 
}

                
.login_own_account p{
	text-align: center;
	margin: 0 auto;
	font-size: 13px;
	padding:0;
}

.login_own_account p a{
	text-decoration: underline;
	color: #000;
}

.go_login{
	border-top: 1px dashed #cdcbcb;
	margin-top: 15px;
	padding-top: 15px;
	margin-bottom: 50px;
}

.go_login .button{
	width: 100%;
	text-align: center;
	color: #fff;
}

.go_login .button a{
	color: #fff;
}

a.go_help{
	float: right;
	font-size: 12px;
	display: block;
	cursor: pointer;
}


.or{
	width: 100%;
	border-top: 1px solid #cdcbcb;
	margin-bottom: 0px;
	padding-left: 250px;
}

.or span{
	position: absolute;
	margin-top: -30px;
	padding: 20px;
	background: #fff;
	color: #3274f4;
	font-size: 28px;
	text-transform: uppercase;
}

.account_form h4{
	color: #3274f4;
	font-weight: bold;
}

.change_time select{
	margin-left: 20px;
}




/* ===========Delivery Hours========== */

.overview_page{
	padding-bottom: 300px;
}

.menu_content h4{
	color: #3274f4;
	font-weight: bold;
}

.ovw h4{
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.ovw p{
	font-size: 14px;
	margin:0;
	padding:0;
	padding-left: 23px;
}

p.veneu_ovw{
	background: url('../images/layout-img/menu-icons/ovw1.png') no-repeat left;
	padding-left: 23px;
}

p.cuisine_ovw{
	background: url('../images/layout-img/menu-icons/ovw2.png') no-repeat left;
	padding-left: 23px;
}

p.delivery_ovw{
	background: url('../images/layout-img/menu-icons/ovw3.png') no-repeat left;
	padding-left: 23px;
}

p.time_ovw{
	background: url('../images/layout-img/menu-icons/ovw4.png') no-repeat left;
	padding-left: 23px;
}

p.address_location{
	padding-left: 0;
	font-weight: bold;
	padding-bottom: 20px;
}

.ovw.veneu_time li{
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.ovw.veneu_time p{
	padding-left: 0;
	display: inline-block;
}

p.open_time_ovw{
	float: right;
	margin-right: 50px;
}

p.open_time_ovw span{
	color: #66abee;
	padding-left: 8px;
	padding-right: 8px;
}

p.closed_ovw{
	margin-left: 95px;
	color: #ce382a;
}


/* tabs */

.tabs {
    width:100%;
    display:inline-block;
    margin-top:40px;

}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 0px;
        float:left;
        list-style:none;
    }

   .tab-links li.active{
   	
   }

   .tab-links li.tab-after{
   	border-left: none;
   	border-top:1px solid #ddd;
            border-left:none;
            border-right:1px solid #ddd;
   }
 .tab-links li.tab-before{
 	margin-left: 10px;
 	border-top:1px solid #ddd;
            border-left:1px solid #ddd;
            border-right:1px solid #ddd;
 }



        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            font-size:16px;
            font-weight:600;
            color:#b5b5b5;
            
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            color: #4f4e4e;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px 0px 15px 0px;
     	margin-top: -21px;
        
        background:#fff;
        border-top: 1px solid #ddd;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
            border-bottom: 1px solid #fff;

        }

.promo-top-discount{
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin-top:40px;
    padding-bottom: 30px;
    border:1px solid #ddd;
}

.header-top-promo{

	background: #ce382a;
	padding: 15px 10px;
}

.header-top-promo h6{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

.content-top ul{
	padding: 60px 0 0 0;
}
.content-top ul li{
	display: inline-block;
	padding: 10px 10px 20px 10px;
	margin: 0 0 0 16px;
}

.content-top li:hover{
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}


.add_to_order{
	width: 150px;
	height: 16px;
	display: none;
	position: absolute;
	background: url('../images/layout-img/icon-add.png') no-repeat;
	font-size: 12px;
	padding-left: 20px;
	margin-top: -10px;
	margin-bottom: 0px;
	margin-left: 5px;
	
}


.content-top li:hover >.add_to_order{
	display: block;
}






.banner_discount{
  	margin-top:40px;
  }


.promo-overall-discount{
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin-top:80px;
    border:1px solid #ddd;
}

.header-overall-promo{
	background: #f0f0f0;
	padding: 15px 10px;
}

.header-overall-promo h6{
	color: #ce382a;
	text-transform: uppercase;
	font-weight: bold;
}

.content-overall-promo ul li{
  	display: inline-block;
  	width: 297px;
  	height: auto;
  	margin-left: 10px;
  	margin-bottom: 20px;
  	margin-top: 20px;
  	padding: 10px 5px 40px 5px;
  }

  .content-overall-promo ul li img{
  	width: 100%;
  }


  .content-overall-promo ul li:hover{
  	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
.add_to_order_overall{
	width: 150px;
	height: 16px;
	display: none;
	position: absolute;
	background: url('../images/layout-img/icon-add.png') no-repeat;
	font-size: 12px;
	padding-left: 20px;
	margin-top:10px; 
	margin-bottom: 0px;
	margin-left: 5px;
	
}


.content-overall-promo li:hover >.add_to_order_overall{
	display: block;
}

.deals-details ul li{
	font-size: 12px;
	line-height: 10px;
}

.deals-details ul{
	list-style-type: disc;
 list-style-position: outside;
 list-style-image: none;
 padding-left: 15px;
 padding-top: 20px;
 padding-bottom: 15px;
 border-top: 1px solid #ddd;
margin-top: 80px;
color: #9f9f9f;
}



.nav-cat{
	position: absolute;
	right: 0;
	margin-right: 10px;
	margin-top: 30px;
	
}

nav.nav-cat-discount
{
    /* container */
}
    nav.nav-cat-discount > a
    {
        display: block;
    }
    nav.nav-cat-discount li
    {
   
        
    }
 
    /* first level */
 
    nav.nav-cat-discount > ul
    {
    	background: #f0f0f0;
    	height: 35px;
    	background: url('../images/layout-img/drop-down-discount.png') 95% 60% no-repeat;
    	border-top: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
        
    }

    nav.nav-cat-discount > ul:hover{
    	background: url('../images/layout-img/drop-down-discount.png') 95% 65% no-repeat;
    }
        nav.nav-cat-discount > ul > li
        {
			width: 150px;
			text-align: center;
         	padding-top: 8px;
         	
         	padding-right: 18px;
        }
        nav.nav-cat-discount > ul > li a:hover{
       
        }
 
    /* second level */
 
    nav.nav-cat-discount li ul
    {
    	width: 150px;
		padding: 0;
		margin:0;
		display: none;
		background: #fafaf9;
		 	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
		height: auto;
		margin-top: 10px;
		padding-bottom: 1px;
        
    }

    	nav.nav-cat-discount li ul li{
    		padding: 0;
    		margin:0;
    		border-top: 1px solid #ddd;
    	}

        nav.nav-cat-discount li:hover ul
        {
          display: block;

        }

        nav.nav-cat-discount li ul li a{
        	background: #fafaf9;
        	display: block;
        	padding:15px 0;
        	margin:0;
        }

         nav.nav-cat-discount li ul li a:hover{
        	background: #eaeaea;
        	
        }





/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

	@font-face {
	    font-family: 'brush script';
	    src: url('../fonts/brush_script/brush_script.eot');
	    src: url('../fonts/brush_script/brush_script.eot?iefix') format('eot'),
	         url('../fonts/brush_script/brush_script.woff') format('woff'),
	         url('../fonts/brush_script/brush_script.ttf') format('truetype'),
	         url('../fonts/brush_script/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }

	@font-face {
	    font-family: 'Sans Caption';
	    src: url('../fonts/Sans_Caption/PTC55F.eot');
	    src: url('../fonts/Sans_Caption/PTC55F.eot?iefix') format('eot'),
	         url('../fonts/Sans_Caption/PTC55F.woff') format('woff'),
	         url('../fonts/Sans_Caption/PTC55F.ttf') format('truetype'),
	         url('../fonts/Sans_Caption/PTC55F.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
