/*
* Noon Deliveries V1.0
* Copyright 2014, Noon Deliveries
* www.noondeliveries.com
* 13/03/2014
*/

/* Table of Content
==================================================
	#Sign Up form

/* #Site Styles
================================================== */

#form_header{
	margin-top: 30px;
	margin-bottom: 5px;
}

#form_header p{
	margin:0;
	padding:0;
	padding-left: 30px;
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 2px;
}

form{
	width: 100%;
}

#form_header, .Customer_info{
	background: rgb(240, 240, 240);
}

.form_container{
	background: rgb(240, 240, 240);
	padding: 30px 30px 20px 30px;
	overflow: hidden;
}

.account_form{
	margin-top: 50px;
}

.side_description h5{
	color: #7b7b80;
}
.side_description{
	margin-top: 70px;
	color: #7b7b80;
	overflow: hidden;
	text-align: center;
}

.side_description p{
	font-size: 14px;
}

.account_form 
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea, select{
		width: 100%;
		outline: 0; 
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset; 
    height: 40px;

}


p.title_head{
	color: #a7a7a7;
	font-weight: bold;
	padding-right: 10px;
}

p.title_head_top{
	color: #a7a7a7;
	font-weight: bold;
	padding-right: 10px;
}

p.title_head, .select, .gender, .title_head_top, .select_top{
	display: inline-block;
	margin-bottom: 20px;
}

.select{
	background-color: #e6e5e5;
	padding-left: 10px;
	font-weight: bold;
	vertical-align;

}

.select_location{
	background-color: #e6e5e5;
	padding-left: 10px;
	font-weight: bold;
	vertical-align;
	width: 400px;
	margin-bottom: 20px;
}

.select_top{
	background-color: #e6e5e5;
	padding-left: 10px;
	font-weight: bold;
	vertical-align;
	width: 350px;
}

.select_top.change{
	width: 210px;
}

.gender{
	background-color: #e6e5e5;
	padding-left: 10px;
	font-weight: bold;
	vertical-align;
}

select.select_top>option { 
border:none
}

select {
  border: 1px solid #ccc;
  padding-top:10px;
  width: 325px;
  margin: 0;
  font-size: 14px;
  background: transparent none no-repeat;
  cursor: pointer;
  vertical-align;

}

@media screen and (min-width:0) {
  /* for relatively modern browsers including IE 8+ */
  select {
    border-radius: 4px;
    background-image: url("../images/layout-img/form/select.png") ;
    background-position: -50px -50px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* for Webkit */
  select {
    -webkit-appearance: none;
    background-position: right center;
    padding: 3px 32px 3px 5px;
  }
}

@-moz-document url-prefix() {
  /* for Firefox */
  select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    background-position: right center;
    padding-right: 16px;
  }
  
  /* hides the dotted outline on focus in FF (See SO#3773430) */
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* for IE10+ */
  select::-ms-expand {
    display: none;
  }
  select {
    background-position: right center;
    padding-right: 30px;
  }
}


.month, .day, .year{
	width: 90px;
	display: inline-block;
	font-weight: bold;
	background-color: #e6e5e5;
}

.day, .year{
	margin-left: 13px;
}

.contact_information_account{
	overflow: hidden;
}


.street, .number, .spt{
	display: inline-block;
}

.number, .spt{
	width: 133px;
}

.street{
	width: 245px;
}

.delivery_options{
	color: #000;
	padding-bottom: 20px;
}

.delivery_options p{
	font-weight: normal;
	font-size: 13px;
	color:#a1a0a0;
}

.bottom_terms {
	font-size: 12px;
	margin: 0;
	padding: 0;
	margin-top: 30px;
}

.bottom_terms a{
	color: #3274f4;
}

.page{
	float: right;
	margin-top: 30px;
}

input[type=checkbox].css-checkbox.med + label.css-label.med {
	padding-left:22px;
    height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:12px;
	vertical-align:middle;
    cursor:pointer;
    font-weight: normal !important;
    padding-left: 30px;
}

input[type=checkbox].css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {
    background-position: 0 -17px;
}

.elegant{background-image:url('../images/layout-img/form/elegant.png');}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{

    background-position: 0 -17px;
}

input[type=checkbox].css-checkbox.sme + label.css-label.sme {
	padding-left:22px;
    height:19px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:12px;
	vertical-align:middle;
    cursor:pointer;
    font-weight: normal !important;
    padding-left: 30px;
}

.delivery_options input[type=checkbox].css-checkbox.sme + label.css-label.sme{
	height:18px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}
.depressed{background-image:url('../images/layout-img/form/elegant.png'); margin-top: 20px;}

h5.push{
	margin-top:150px;
}


.side_description h5{
	padding-bottom: 10px;
}


/* Help sign in */

.signup_help_page{
	margin-top: 30px;
}

.signup_help_page p{
	font-size: 13px;
	color: #a8a8a8;
	padding-left: 25px;
}

.signup_help_page label{
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	cursor: pointer;  
    position: relative;  
    padding-left: 0px;  
    margin-right: 15px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('../images/layout-img/form/rond.png') center top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url('../images/layout-img/form/rond_select.png') center top no-repeat;
}


.signup_help_page input[type="text"]{
		outline: 0; 
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset; 
    height: 40px;
    width: 300px;
    display: inline-block;
    background: rgb(230, 229, 229);
    font-size: 14px;
    color: #818181;
    padding-left: 15px;

}

.signup_help_page ::-webkit-input-placeholder {
   color: #4d4d4d;
}

.signup_help_page :-moz-placeholder { /* Firefox 18- */
   color: #4d4d4d;  
}

.signup_help_page ::-moz-placeholder {  /* Firefox 19+ */
   color: #4d4d4d;  
}

.signup_help_page :-ms-input-placeholder {  
   color: #4d4d4d;  
}

.signup_help_page .sign{
	margin-top: 30px;
}


/* Details Fomr Order============================================= */

.place_order h4{
	color: #3274f4;
	font-weight: bold;
	padding-bottom: 10px;
}

.Customer_info{
	padding:15px 30px;
	font-size: 14px;
}

.details_customer{
	float: left;
}

.details_customer p{
	margin:0;
	padding:0;
	font-weight: bold;
}

 .delivery_options input[type=radio] {  
    display: none; 
    margin-left: 50px; 
} 

.delivery_options .pickup, .delivery_options .delivery {
	display: inline-block;
	margin-right: 40px;
	margin-left: 30px;
}

.delivery_options label:after{
	padding-left: 30px;
}

.delivery_options label:before {  
   content: "";  
   display: inline-block;
  
    width: 16px;  
    height: 16px;  
  	margin-left: -30px;
  	margin-top:5px;
    margin-right: 10px;  
    position: absolute;  
    bottombottom: 1px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
}

.delivery_options label:before {  
    border-radius: 8px;  
} 

.delivery_options input[type=radio]:checked + label:before {  
    content: "\2022";  
    color: #f3f3f3;  
    font-size: 30px;  
    text-align: center;  
    line-height: 15px;  
}

.change_detils{
	float: right;
}

.change_delivery_address{
	
}

#icon{
	width: 16px;
	height: 16px;
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.change_delivery_address:active >#icon{
	
-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}


.change_delivery_address h6{
	cursor: pointer;
	color: #3274f4;
	margin-top: 20px;
padding-top: 5px;
padding-left: 20px;

}

.change_delivery_address h6:active{
	background: none;
}

.spm {
    margin-top: 3px;
    width: 100%;
    height: 100%;
    display: none;
}

.spm #form_header{
	background: rgb(240, 240, 240);
	
}

.spm .form_container{
	background: rgb(240, 240, 240);
	
}

.spm
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea, select{
		width: 100%;
		outline: 0; 
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset; 
    height: 40px;

}

.delivery_details_change #form_header p{
	color: #3d3d3d;
}

.delivery_details_change{
	color: #a8a8a8;
	font-weight: bold;
}

.change_time{
	border-top: 1px solid #e6e6e6;
	padding-top: 20px;
}

.change_time p{
	float: left;
}

.change_time .edit_time{
	float: right;
	display: block;
	color: #3274f4;
	font-weight: normal;
}

.change_time span{
	font-weight: normal;
	margin-left: 85px;
}

.payment_change span{
	background: url('../images/layout-img/menu-icons/cash-icon.png') no-repeat left;
	font-weight: normal;
	margin-left: 10px;
	padding-left: 25px;
}

.promo span{
font-weight: normal;

padding-left: 5px;
}

.promo-go{
	background:rgb(50,116,244);
	border:1px solid rgb(50,116,244) ;
	color:#fff;
	margin-left: 15px;
	padding: 7px 15px;
}

h3.order_complete_page{
	text-align: center;
	padding: 45px 0;
	border-left:1px solid #dcdbd9;
	border-right:1px solid #dcdbd9;
	width: 100%;
	font-weight: bold;
	font-size: 24px;
	margin:0;
}

.delivery_details_change textarea{
	min-height: 100px;
}

.order-list-sidestoreinfo h6{
	font-weight: bold;
}

.order-list-sidestoreinfo p.location_side{
	font-weight: normal;
	font-size: 13px;
}
.order-list-sidestoreinfo p.order_time_side{
	font-weight: normal;
	font-size: 10px;
	margin-top:15px;
	margin-bottom:15px;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 5px;
}


/* ==================== */

#st-accordion input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea, select{
		width: 100%;
		outline: 0; 
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset; 
    height: 40px;}

#st-accordion #form_header{
	background: #eaeaea;
}

#st-accordion .form_container{
	background: #eaeaea;
}

.st-accordion{
    width:100%;
    min-width:270px;
    margin: 0 auto;
    background: rgb(240, 240, 240);
}
.st-accordion ul li{
    height: 100px;
    border-top:1px solid #fff;
    overflow: hidden;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a{
    text-shadow: 1px 1px 1px #fff;
    font-size: 18px;
    color: #3274f4;
    display: block;
	position: relative;
    line-height: 80px;
	outline:none;
	padding-left: 60px;
	padding-top: 15px;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
	background: transparent url(../images/down.png) no-repeat center center;
	text-indent:-9000px;
	width: 26px;
	height: 26px;
	position: absolute;
	top: 50%;
	left: 26px;
	margin-top: -7px;
	opacity:1;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    color: #1693eb;
}
.st-accordion ul li > a:hover span{
	opacity:1;

	
}
.st-accordion ul li.st-open > a{
    color: #2767e5;
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
    transform:rotate(90deg);
	right:10px;
	opacity:1;
}
.st-content{
    padding: 5px 0px 30px 0px;
    background: #eaeaea;
}
.st-content p{
    font-size:  16px;
    line-height:  28px;
    padding: 0px 4px 15px 4px; 
}
.st-content img{
    width:125px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
}
@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}






















